<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  {{ hotels }}

  <div class="container">
    <table class="table">
      <tr>
        <td>
          Ciudad
        </td>
        <td>
          Adminsitrador
        </td>
        <td>
          Foto
        </td>
        <td>
          Fecha Publicación
        </td>
      </tr>      
        {% for hotel in hotels %}
        <tr>
          <td> {{ hotel.city }} </td>
          <td> {{ hotel.user.administrator }} </td>
          <td> <img src="{{ hotel.picture }}" alt=""> </td>
          <td> {{ hotel.timestamp }} </td>
        </tr>
        {% endfor %}
    </table>
  </div>

  {% for hotel in hotels %}
    {{ hotel.city }}
  {% endfor %}

</body>
</html>